################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DockerApp/FileContentIndex
/.vs/docker_acr_appservice/FileContentIndex
/DockerApp/bin/Debug/net8.0
/.vs
